*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lista-container{
    width: 450px;
}

.chat-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.search input{
    width: 100%;
}

.chat-name{
    border-top:1px solid lightgray ;
    border-bottom: 1px solid lightgray ;
}

.chat{
    height: 100%;
    background-image: url('../img/mine.jpg');
    overflow:scroll;

}

.list{
    
    height: calc(100vh - 100px);
    overflow:scroll;

}

.font-smal{
    font-size: xx-small;
    color: rgb(161, 161, 161);
}
.bagraund-color{
    background-color: #8edafc;
    width: 100%;
}