*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#009688 10%, #dbdbd4 90%);  
    height: calc(100vh - 80px);
}

.lista-container{
    min-width: 355px;
}

.chat-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(211, 211, 211, 0.499);
    
}

.search input{
    width: 100%;
}

.chat-name{
    border-top:1px solid rgba(211, 211, 211, 0.247) ;
    border-bottom: 1px solid rgba(211, 211, 211, 0.247) ;
}

.principal-container{
    max-width: 1100px;
    height: 600px;
    margin: auto;
    margin-top: 80px;
    background-color: white;
}

.chat{
    height: 100%;
    background-image: url('../img/mine.jpg');
    overflow-y:scroll;
    padding: 10px;
}

.list{   
    height: calc(100% - 164px);
    overflow-y:scroll;

}

.font-smal{
    font-size: xx-small;
    color: rgb(161, 161, 161);
}

.bagraund-color{
    background-color: #8edafc;
    width: 100%;
}

i{
    color:#b1b0b0 ;
}

.message{
    background-color: white;
    position: relative;
    width: 200px;
    padding: 8px;
    padding-bottom: 18px;
    border-radius: 9px;
    margin: 10px;
}

.chat-name:hover,.arrow-drop:hover{
    cursor: pointer;
    
}

.arrow-drop{
    display: none;
}

.message:hover .arrow-drop{
    display: block;
}

.receved{
    display: flex;
    justify-content: flex-start;
}

.sent{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    
}

.message-time{
    position: absolute;
    right: 6px;
    bottom: 4px;
    font-size: .6em;
    color: #aaa;
}

.sent .message{
    background-color: #d7f9bc;

}

